body {
  background-color: white;
  color: black;
}

header:hover {
  background-color: rgba(20, 20, 20, 0.1);
}

header a {
  color: white;
}

header a:hover {
  color: black;
  background: linear-gradient(
    to right,
    rgba(188, 62, 255, 1),
    rgba(102, 110, 255, 1),
    rgba(82, 226, 140, 1),
    rgba(249, 255, 123, 1),
    rgba(255, 191, 77, 1)
  );
}

#intro {
  background-image: url(../img/urban.jpg);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: white 0px 0px 5px;
  background-attachment: fixed;
}

#intro h1 span:nth-child(1) {
  color: rgba(102, 110, 255, 1);
}

#intro h1 span:nth-child(2) {
  color: rgba(82, 226, 140, 1);
}

#intro h1 span:nth-child(3) {
  color: rgba(255, 80, 80, 1);
}

#intro h1 span:nth-child(4) {
  color: rgba(102, 110, 255, 1);
}

#intro h1 span:nth-child(5) {
  color: rgba(82, 226, 140, 1);
}

#intro p {
  box-shadow: 2px 2px 2px black;
}

#intro h1{
  text-shadow: 5px 10px 10px white;
}

#team {
  background-color: black;
  color: white;
}

#team h2 {
  color: white;
  opacity: 70%;
}

#team .photographer figure {
  background: linear-gradient(
    to right,
    rgba(188, 62, 255, 1),
    rgba(102, 110, 255, 1),
    rgba(82, 226, 140, 1),
    rgba(249, 255, 123, 1),
    rgba(255, 191, 77, 1)
  );
}

#team .photographer img:hover {
  opacity: 50%;
}

#team .photographer:hover img{
  mix-blend-mode: luminosity;
}

#team .photographer a {
  color: white;
  border: 1px solid black;
}

#team .photographer a:hover {
  border: 1px solid white;
}

#portraits .img-wrapper {
  background-image: url(../img/portrait.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  transform-origin: 50% 20%;
  background-attachment: fixed;
}

#outdoor .img-wrapper {
  background-image: url(../img/outdoor.jpg);
background-position: right , center;
  background-color: white;
  background-attachment: fixed;
}

#portraits a {
  background-color: white;
  border: 1px solid;
  color: black;
}

#portraits a:hover {
  background-color: black;
  border: 1px solid;
  color: white;
}

#outdoor a {
  background-color: black;
  border: 1px solid;
  color: white;
}

#outdoor a:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}

#contact .img-wrapper {
  background-image: url(../img/contact.jpg);
  background-attachment: fixed;
}

#contact .wrapper .button.button-white {
  background-color: white;
  color: black;
}

#contact .wrapper .button.button-white:hover {
  background-color: black;
  color: white;
  box-shadow: 1px 2px 10px black;
}

#contact .button {
  background-color: white;
  color: black;
}

#contact .wrapper form p input,
textarea {
  border-radius: 1px white;
  box-shadow: inset 1px -9px 10px rgb(79, 79, 79);
}

footer {
  background: linear-gradient(
    to right,
    rgba(188, 62, 255, 1),
    rgba(102, 110, 255, 1),
    rgba(82, 226, 140, 1),
    rgba(249, 255, 123, 1),
    rgba(255, 191, 77, 1)
  );
  color: black;
}
